html{
    background-color: $bg-color;
    height: 100vw;
    max-width: 100vw;
}

main{
    background-color: none;
}

.logo{
    height: 46px;
    width:100%;
}

.nav-item{
    a{
        font-weight: 400;
    }
}

.metaInfo{
    color: rgb(88, 88, 88);
}

.navbar-toggler-icon{
    background-image: $burguer-icon !important;
}

#guide{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    padding-top: 12%;
    text-align: center;
    background-color: $bg-color;
    justify-content: center;
    align-items: center;
    h5{
        font-weight: 300;
    }
}