.content{
    background-image: url(./../images/home/01.jpg);
    background-repeat: none;
    background-size: cover;
}

#first-container{
    height: 100vh;
    width: 100%;
    padding-top: 12%;
    padding-left: 8%;
}

#second-container{
    height: 100vh;
    width: 100%;
    padding-top: 16%;
    padding-left: 8%;
    background-image: url(./../images/home/03.jpg);
    background-size: cover;
}

#third-container{
    height: 100vh;
    width: 100%;
    padding-top: 20%;
    padding-left: 8%;
    background-image: url(./../images/home/02.gif);
    background-size: cover;
}

#fourth-container{
    height: 100vh;
    width: 100%;
    padding-top: 14%;
    padding-left: 8%;
    background-image: url(./../images/home/04.jpg);
    background-size: cover;
}

#navbar{
    background-color: rgba(0, 0, 0, 0);
    padding-left: 6%;
    padding-top: 1.4%;
}

@media (max-width:760px){
    #first-container, #second-container, #third-container, #fourth-container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        background-position: center center;
    }

    #second-container{
        background-position: -200px center;
        background-repeat: no-repeat;
    }

    #first-container, #second-container, #third-container, #fourth-container p{
        font-size: 24px;
    }
}

@media (max-width:550px){
    .logo{
        height: 36px;
    }
}