.contentHuman{
    background-image: url(./../images/humanFlight/01.jpg);
    background-repeat: none;
    background-size: cover;
    height: 100vh;
}

#human-container1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-bottom: 10%;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.41);

    .human-text1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        .h1{
            font-size: 120px;
        }
    
        .h3{
            font-size: 36px;
            font-weight: 300;
        }
    
        .arrowDown{
            padding-top: 2%;
            height: 10%;
            cursor: pointer;
            img{
                height: 50px;
            }
        }
    }
}

#human-container-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 200px;
    .human-text-info{
        width: 50%;
        .gray{
            color: rgb(174, 174, 174);
        }

        .email{
            color: white;
        }

        p.h2{
            text-align: center;
            font-size: 18px;
        }
    }
}

#human-container2{
    display: flex;
    flex-direction: column;
    padding-right: 10%;
    height: 110vh;
    width: 100%;
    padding-top: 16%;
    padding-left: 8%;
    background-image: url(./../images/humanFlight/02.jpg);
    background-size: cover;
    align-items: flex-end;
    .human-text2{
        width: 42%;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        
        .h2{
            font-size: 60px;
        }
    
        .h6{
            font-size: 20px;
            font-weight: 300;
        }
    
        button{
            width: fit-content;
        }
    }
}

#human-container3{
    height: 100vh;
    width: 100%;
    padding-top: 16%;
    padding-left: 8%;
    background-image: url(./../images/humanFlight/03.jpg);
    background-size: cover;
    .h2{
        font-size: 60px;
    }

    .h6{
        font-size: 20px;
        font-weight: 300;
    }
}

#human-container4{
    display: flex;
    flex-direction: column;
    padding-right: 10%;
    height: 110vh;
    width: 100%;
    padding-top: 16%;
    padding-left: 8%;
    background-image: url(./../images/humanFlight/04.jpg);
    background-size: cover;
    align-items: flex-end;
    .human-text4{
        display: flex;
        flex-direction: column;
        width: 50%;
        padding-left: 5%;
    }

    .h2{
        font-size: 60px;
    }

    .h6{
        font-size: 20px;
        font-weight: 300;
    }

    button{
        width: fit-content;
    }
}

#human-container5{
    height: 100vh;
    width: 100%;
    padding-top: 16%;
    padding-left: 8%;
    background-image: url(./../images/humanFlight/05.jpg);
    background-size: cover;
    .h2{
        font-size: 60px;
    }

    .h6{
        font-size: 20px;
        font-weight: 300;
    }
}

#navbar{
    background-color: rgba(0, 0, 0, 0);
    padding-left: 6%;
    padding-top: 1.4%;
}

@media (max-width: 1200px){
    .contentHuman{
         background-position: center top;
         #human-container1{
            .human-text1{
                .h1{
                    text-align: center !important;
                    font-size: 84px;
                }
                .h3{
                    font-size: 28px;
                }
            }
         }
    }
    
    #human-container2{
        background-position: right center;
        .human-text2{
            width: 50%;
        }
    }

    #human-container3{
        background-position: center center;
        .human-text3{
            width: 50%;
        }
    }

    #human-container4{
        background-position: center center;
        .human-text4{
            width: 60%;
            padding-top: 100px;
        }
    }

    #human-container5{
        background-position: center center;
        .human-text5{
            width: 60%;
        }
    }

    #human-container-info{
        .human-text-info{
            width: 80%;
        }
    }
}

@media (max-width:760px){

    #human-container1, #human-container2, #human-container3, #human-container4, #human-container5{
        background-position: center center;
        .human-text2, .human-text3, .human-text4, .human-text4, .human-text5{
            width: 50%;
            .h2{font-size: 32px;}
            .h6{font-size: 16px;}
        }
    }   

    .human-text2{
        padding-top: 40%;
        padding-left: 15px;
    }

    .contentHuman #human-container1 .human-text1 .h1{
            font-size: 70px;
    }
    
    #human-container-info{
        .human-text-info{
            width: 90%;
        }
    }

    #guide{
        .buttons{
            display: flex;
            flex-direction: column;
            gap: 16px;
        }
    }
}

@media (max-width:550px){
    #human-container1 .human-text1 .h3{
        font-size: 12px;
    }
}